html body {
  background-color: #fff;
}

.xSelected = {
  background: url('./assets/unicorn.png');
}

.ySelected = {
  background: url('./assets/mammoth.png');
}

#title {
  font-family: 'Luckiest Guy', cursive;
  color: black;
  margin-bottom: 50px;
}

.cell {
  border: 1px solid orange;
  display: inline-block;
}

.selected {
  background-color: lightgray;
}

#container {
  width: 465px;
  height: 465px;
}

.square {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 15px;
  border: 10px solid black;
  font-size: 30px;
  color: black;
  background-color: #FFF;
  margin: 1px;
}

#main #container{
  margin: 0px auto;
}
h1 {
  text-align: center;
}

.img {

}

h1 {
  color: #fff;
}
