/*html body {
    background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0,#fff),color-stop(0.25,#fff),color-stop(0.25,beige),color-stop(0.5,beige),color-stop(0.5,#fff),color-stop(0.75,#fff),color-stop(0.75,beige));
}
*/

#winnerVideo{
  display: none;
}
.cell {
  border: 1px solid orange;
  display: inline-block;
}

.selected {
  background-color: lightgray;
}

#container {
  width: 465px;
  height: 465px;
}

.square {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 15px;
  font-size: 100px;
  color: #fff;
  /*background-color: #ee6e73;*/
  background-color: #26a69a;
  margin: 1px;
  text-align: center;

}

#main #container{
  margin: 0px auto;
}
h1 {
  text-align: center;
  color: #ee6e73;
}

h5 {
  text-align: center;
}
